{% extends 'todo/base.html' %}

{% load staticfiles %}

{% block title_block %}
	{% endblock %}

{% block body_block %}
<h1
	<div>
		<h3>Recently Added:</h3>	
	</div>

	<div>
	{% if todos %}
	<ul>
		{% for title in todos %}
			<li>
				<p>
					<a href="/todo/modify_todo/{{title.slug }}"> {{title.title }} </a>
					
					by	
				{{ title.target_completion_date }}
							</p>
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no todos present.</strong>
	{% endif %}
	</div>
    
	{% endblock %}
